# Copy to `.env` and fill with your credentials

ALPACA_API_KEY=YOUR_KEY_HERE
ALPACA_API_SECRET=YOUR_SECRET_HERE
# For trading, use https://paper-api.alpaca.markets or https://api.alpaca.markets
ALPACA_BASE_URL=https://paper-api.alpaca.markets
