# Core
pandas>=2.2.0
numpy>=1.26.0
pyyaml>=6.0.1
python-dotenv>=1.0.1
pyarrow>=15.0.0
fastparquet>=2024.2.0

# Indicators
ta>=0.11.0

# RL / Gym / ML
torch>=2.3.0
gymnasium>=0.29.1
stable-baselines3>=2.3.2
tensorboard>=2.14.0

# Plotting
matplotlib>=3.8.4

# Alpaca (data)
alpaca-py>=0.21.0
